@media( max-width: 1200px){
    .container{
        max-width: 960px;
    }
}

@media( max-width: 992px){
    .container{
        max-width: 720px;
    }

    
}

@media( max-width: 768px){
    .container{
        max-width: 540px;
    }
   
 /* HEADER__TITLE */

 .nav__list{
    position: absolute;
    right: 50px;
    }

    .nav{
        display: none;
    }

   .header__block__text{
    /* position: absolute;
    left: 50px; */
    padding-left: 250px;
    margin: 0;
   }

/* MAIN */



.promo{
    position: relative;
    width: 100%;
   

}
.promo__img{
    width: 200px;
    position: absolute;
    left: 460px;
    top: 33px;

}

.promo__title{
    font-size: 90px;
    padding: 0;
    margin-bottom: 5px;
    width: 500px;   
}

.promo__text{
    padding: 0;
    width: 500px;
    font-size: 15px;
    
}

.promo__btn{
    margin: 40px 0 50px 0;
    width: 200px;
    height: 50px;
    
}

.promo__mini-block{
    display: none;
}

.promo__mini-block1{
    display: none;
}

.promo__mini-block2{
    display: none;
}

/* .promo__mini-block{
    width: 150px;
    height: 100px;
    position: absolute;
    top: 36px;
    right: 40px;
}

.promo__mini-block__text{
    font-size: 45px;
    padding-left: 8px;
    display: flex;
    justify-content: start;
}

.promo__mini-block__km{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 600;
    padding-top: 25px;
    padding-left: 5px;
   
}

.promo__mini-block1{
    width: 150px;
    height: 100px;
    position: absolute;
    top: 145px;
    left: 570px;
}

.promo__mini-block__1t{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    padding-left: 40px;
    padding-top: 10px;

}

.elipse1{
    background-color: #EF8963;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  
    
    
}

.promo__mini-block__text1{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding-top: 25px;

}

.promo__mini-block2{
    width: 150px;
    height: 100px;
    position: absolute;
    left: 570px;
    top: 253px;
}

.promo__mini-block__text2{
    font-size: 40px;
    font-weight: 500;
   
    
}

.promo__mini-block__2t{
    color: rgba(239, 237, 232, 0.65);
   
   
} */


.promo__logos{
   padding: 0;
   
}

.promo__logos__items{
    width: 550px;
    display: flex;
    justify-content: space-between;
   
    
}



.promo__logos__title{
    width: 200px;
    
}


/* PROGRAMS */

.programs{
    margin-left: 25px;
   
}

.programs__title{
    padding-left: 80px;
    font-size: 25px;

}

.programs__title__text{
    padding-left: 80px;
    font-size: 15px;
    color: #d9d9d9;
    width: 100%;
}

.programs__block{
    background-color: #323443;
    border-radius: 10px;
    width: 75%;
    margin: 20px auto;
}

.programs__flex{
    display: flex;
    flex-direction: column;
}


.programs__block__title{
    text-align: center;
    font-size: 35px;
    padding: 15px 0 0 0;
    margin: 0;
}

.programs__block__text{
    font-size: 20px;
    
}

.arrows__flex{
    padding-top: 15px;
}
    
 /* BLOG */

 .blog{
    padding: 0 0 0 0;
    width: 100%;
 }



.blog__list{
   flex-direction: column;
  
}

.blog__img1{
    width: 450px;
    padding-top: 20px;
}

.blog__list1{
    flex-direction: column;
    order: 5;
}

.blog__list1 > img{
    order: 2;
}

.blog__img2{
    width: 450px;
   
}

.blog__item__title1{
    width: 100%;
}


.log__item__title{
    width: 100%;
}

.blog__item__text{
    width: 100%;
}
/* MEMBERSHIP */

.membership__title{
    font-size: 40px;
}

.membership{
  margin: 0;
  padding: 0;
  width: 100%;
}

.membership__block{
    width: 501px;
    height: 600px;

}

.membership__flex{
    display: block;
    
}

.membership__hr{
    width:100%;
    margin-left: 0px;
}



}

@media( max-width: 576px){
    .container{
        max-width: 360px;
    }

    /* header */

    .header__block__text{
        padding-left: 160px;
    }
    
    .promo{
        width: 100%;
    }
    .promo__text{
        padding-top: 110px;
        width: 412px;
    }
    
    .promo__title{
        font-size: 65px;
        width: 360px;
    }
    
    .promo__img{
        display: none;
    }
    
    .promo__mini-block{
        display: block;
        width: 125px;
        height: 80px;
        position: absolute;
        top: 150px;
        left: 270px;
    }
    
    .promo__mini-block__text{
        font-size: 35px;
        padding-left: 8px;
        display: flex;
        justify-content: start;
    }
    
    .promo__mini-block__km{
        color: rgba(239, 237, 232, 0.65);
        font-size: 16px;
        font-weight: 600;
        padding-top: 17px;
        padding-left: 5px;
    
    }
    
    .promo__mini-block1{
        display: inline;
        width: 125px;
        height: 80px;
        position: absolute;
        top: 150px;
        left: 0px;
    }
    
    .promo__mini-block__1t{
        color: rgba(239, 237, 232, 0.65);
        font-size: 14px;
        font-weight: 400;
        width: 91px;
        padding-left: 40px;
        margin-top: 0px;
        margin-bottom: 5px;
    
    }

    .promo__mini-block__flex{
        margin-bottom: 0px;
    }
    
    .elipse1{
        background-color: #EF8963;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-top: 15px;
    }
    
    .promo__mini-block__text1{
        font-size: 30px;
        font-weight: 500;
        margin: 0;
        padding-top: 15px;
    
    }
    
    .promo__mini-block2{
        display: inline;
        width: 125px;
        height: 80px;
        position: absolute;
        left: 135px;
        top: 150px;
    }
    
    .promo__mini-block__text2{
        font-size: 35px;
        font-weight: 500;
    
    
    }
    
    .promo__mini-block__2t{
        color: rgba(239, 237, 232, 0.65);
        width: 139px;
        font-size: 14px;
        padding-left: 3px;
        margin-top: 5px;
    
    }
    
    .promo__logos__items{
        width: 350px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    
    .promo__logos__item{
        
        margin-right: 12px;
        margin-bottom: 20px;
    }
    
    /* programs */
    
    .programs__title__text{
        width: 80%;
    }

    .programs__block{
        height: 190px;
    }

    .programs__title{
        margin: 0;
    }
    
    /* blog */
    .blog__img1{
        width: 370px;
    }

    .blog__img2{
        width: 370px;
    }
    .blog__item__title1{
        font-size: 32px;
    }
    
    .blog__item__title{
        font-size: 35px;
    }
    
    .blog__item__text{
        font-size: 22px;
        width: 400px;
    }
    
    /* membership */
    
    .membership__block{
        width: 433px;
        height: 500px;
    }
    
    .membership__block__text{
        font-size: 18px;
    }
    
    .membership__item{
        font-size: 16px;
    }
    
    .arrows__flex__membership{
        padding-top: 10px;
    }
    
    .membership__hr{
        width: 100%;
    
    }
    


}